.order-summary{
    align-items: center;
    gap: 22px;
    margin: 51px 433px 19px;
    padding: 20px;
    background-color: #fafafa;
    .product{
        display: flex;
        gap: 10px;
        border-radius: 10px;
        background-color: #fff;
      
    }
    .payment{
        display: flex;
        background-color: white;
        gap: 5px;
        height: 40px;
        margin: 5px;
        padding: 0px 10px 10px 10px;
        border-radius: 5px;

        
        .circle{
            padding-top: 22px;
        }
    }
    .payy{
        margin: 19px 153px 0;
        width: 384px;
        height: 40px;
        padding: 10px;
        border: 0;
        border-radius: 10px;
        background-color: #feac00
    }
    a{
        text-decoration: none;
        font-size: 16px;
        color: black;

    }
    a:hover{
        font-size: 20px;
        
    }
}